<html>
<head>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script>
        $(main) // Doc ready
        function main() {
            $.ajax({ // Get the current settings
                url: '/settings',
                method: 'GET',
                datatype: 'JSON'
            })
            .then(data => {
                $('div.build').empty()
                // Display settings and buttons
                $('div.build').append('<h1 class="card-title">Settings</h1>')
                $('div.build').append(`<div class="row justify-content-md-left m-2 align-items-center"><div class="col-md-auto px-2"><a>Where the files to transcode are on the server:</a></div><div class ="col-md-auto p-0 pr-1" id="path"><a>${data.path}</a></div><div class="col-md-auto p-0"><button class="btn btn-secondary btn-sm px-1 py-0" type="button" id="path">Edit</button></div></div>`)
                $('div.build').append(`<div class="row justify-content-md-left m-2 align-items-center"><div class="col-md-auto px-2"><a>Where to place the transcoded files on the workers:</a></div><div class ="col-md-auto p-0 pr-1" id="outputpath"><a>${data.outputpath}</a></div><div class="col-md-auto p-0"><button class="btn btn-secondary btn-sm px-1 py-0" type="button" id="outputpath">Edit</button></div></div>`)
                $('div.build').append(`<div class="row justify-content-md-left m-2 align-items-center"><div class="col-md-auto px-2"><a>Where the files to transcode are on the worker:</a></div><div class ="col-md-auto p-0 pr-1" id="execpath"><a>${data.execpath}</a></div><div class="col-md-auto p-0"><button class="btn btn-secondary btn-sm px-1 py-0" type="button" id="execpath">Edit</button></div></div>`)
                $('div.build').append(`<div class="row justify-content-md-left m-2 align-items-center"><div class="col-md-auto px-2"><a>HandBrake parameters:</a></div><div class ="col-md-auto p-0 pr-1" id="execoptions"><a>${data.execoptions}</a></div><div class="col-md-auto p-0"><button class="btn btn-secondary btn-sm px-1 py-0" type="button" id="execoptions">Edit</button></div></div>`)
                $('div.build').append(`<div class="row justify-content-md-left m-2 align-items-center"><div class="col-md-auto px-2"><a>How many cores should a worker have:</a></div><div class ="col-md-auto p-0 pr-1" id="coresperthread"><a>${data.coresperthread}</a></div><div class="col-md-auto p-0"><button class="btn btn-secondary btn-sm px-1 py-0" type="button" id="coresperthread">Edit</button></div></div>`)
                $('div.build').append('<h1 class="card-title">Jobs</h1>').append('<div id="Jobs" class="m-3"><button class="btn btn-primary mx-2" id="show">Show jobs</button><button id="findjobs" class="btn btn-primary mx-2">Acquire jobs</button></div>')
                // Configure the buttons
                for (elem of ['path', 'outputpath', 'execpath', 'execoptions', 'coresperthread']) config(elem)
                function config(setting) {
                    $(`button#${setting}`).click(() => {
                        $(`div#${setting}`).empty().append(`<input type="text" id="${setting}">`)
                        $(`button#${setting}`).off('click').removeClass('btn-secondary').addClass('btn-warning').click(() => {
                            $.ajax({
                                url: '/settings',
                                method: 'PUT',
                                data: {setting: setting, value: $(`input#${setting}`).val()}
                            })
                            .then(main) // Probably not the best way to do it, but at least settings are kept up to date
                        }) 
                    })
                }
                // Configure the jobs button
                $('button#show').click(() => { 
                    $.ajax({ // Get the jobs array
                        url: '/jobs',
                        method: 'GET',
                    })
                    .then(data => { // Display the jobs array
                        $('div#Jobs').empty().append('<table class="table"><thead><tr><th scope="col">#</th><th scope="col">Job</th><th scope="col">Status</th></tr></thead><tbody></tbody></table>')
                        for (i=0, len=data.length; i<len; ++i) {
                            $('tbody').append(`<tr><th scope="row">${i}</th><td>${data[i][0]}</td><td>${data[i][1]}</td></tr>`)
                        }
                    })
                })
                $('button#findjobs').click(() => {
                    $.ajax({
                        url: '/findjobs',
                        method: 'POST'
                    })
                })
            })
        }
    </script>
</head>
<body style="background-color: cornflowerblue">
    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-4 text-center">
                <div class="build"></div>
            </div>
        </div>
    </div>
</body>
</html>                